In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('/Users/shawn/Github/M1/金融計量/etf.csv')
df

                  證券代碼  公司中文全稱     年   月  報酬率％_月
0          0050 元大台灣50     NaN  2010   1 -6.1113
1         0051 元大中型100     NaN  2010   1 -7.6897
2            0052 富邦科技     NaN  2010   1 -6.8493
3            0053 元大電子     NaN  2010   1 -7.5828
4        0055 元大MSCI金融     NaN  2010   1 -9.9690
...                ...     ...   ...  ..     ...
10975  00930 永豐ESG低碳高息     NaN  2023  12  3.8613
10976   00932 兆豐永續高息等權     NaN  2023  12  3.9548
10977    00934 中信成長高股息     NaN  2023  12  4.7562
10978  00935 野村臺灣新科技50     NaN  2023  12  2.5952
10979   00936 台新永續高息中小     NaN  2023  12  4.5601

[10980 rows x 5 columns]

In [15]:
years = df['年']
months = df['月']

result = [f"{year}{month:02d}" for year, month in zip(years, months)]
result_df = pd.DataFrame(result, columns=['年月'])
print(result_df)

           年月
0      201001
1      201001
2      201001
3      201001
4      201001
...       ...
10975  202312
10976  202312
10977  202312
10978  202312
10979  202312

[10980 rows x 1 columns]

In [16]:
df2 = pd.DataFrame()
df2['年月'] = result_df['年月']
df2['報酬率％_月']  = df['報酬率％_月']
df2['證券代碼']  = df['證券代碼']
df2

           年月  報酬率％_月             證券代碼
0      201001 -6.1113      0050 元大台灣50
1      201001 -7.6897     0051 元大中型100
2      201001 -6.8493        0052 富邦科技
3      201001 -7.5828        0053 元大電子
4      201001 -9.9690    0055 元大MSCI金融
...       ...     ...              ...
10975  202312  3.8613  00930 永豐ESG低碳高息
10976  202312  3.9548   00932 兆豐永續高息等權
10977  202312  4.7562    00934 中信成長高股息
10978  202312  2.5952  00935 野村臺灣新科技50
10979  202312  4.5601   00936 台新永續高息中小

[10980 rows x 3 columns]

In [19]:
result_df = df2.pivot(index='年月', columns='證券代碼', values='報酬率％_月')
result_df = result_df.rename_axis('date')
result_df = result_df[['0050 元大台灣50','0051 元大中型100','0052 富邦科技','0053 元大電子','0055 元大MSCI金融','0056 元大高股息','0057 富邦摩台','0061 元大寶滬深']]
result_df

證券代碼,0050 元大台灣50,0051 元大中型100,0052 富邦科技,0053 元大電子,0055 元大MSCI金融,0056 元大高股息,0057 富邦摩台,0061 元大寶滬深
date,,,,,,,,
201001,-6.1113,-7.6897,-6.8493,-7.5828,-9.9690,-4.4873,-6.6295,-8.0711
201002,-2.7358,-3.1007,-2.5000,-4.1420,-3.4334,-2.0134,-2.7066,-0.1105
201003,5.2377,7.1703,5.2187,7.6132,4.7111,4.1098,5.7806,2.7087
201004,1.0140,1.6545,0.7452,0.9562,-2.3768,2.3684,2.2541,-4.0365
201005,-8.5767,-8.5633,-8.4665,-8.4090,-7.7393,-6.2983,-8.1498,-2.4119
...,...,...,...,...,...,...,...,...
202308,-2.4068,-2.1393,-1.8892,-2.9243,-3.7114,-1.2031,-3.3491,-7.0910
202309,-2.4264,-1.5515,-2.9525,-2.8655,0.1284,-0.7080,-2.4364,-1.0029
202310,-1.2230,-5.3008,-0.6172,-1.6644,-1.8394,-3.4347,-1.2767,-3.5453
202311,8.4193,10.3081,9.2726,8.7950,6.8409,7.3112,7.9822,-2.2755
202312,2.2081,3.6247,3.8976,2.8341,-0.0836,5.4732,2.9152,-5.2537

In [20]:
result_df.to_csv('/Users/shawn/Github/M1/金融計量/regression_data/etf_transform.csv')